@{
    ViewData["Title"] = "Create New Blog";
}
@using Microsoft.AspNetCore.Http;
@model BlogModel
<div class="container">
    <div class="row">

        <div class="col-6 m-auto">
            <h1 class="text-center display-4">Create New Blog</h1>

            <form asp-action="CreateBlog" asp-controller="User" method="post">
                <div class="form-group">
                    <label class="form-label" asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" /> <br />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="AuthorName"></label>
                    <input asp-for="AuthorName" readonly value=@Context.Session.GetString("user_name") class="form-control" /> <br />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Content"></label>
                    <textarea asp-for="Content" class="form-control"></textarea> <br />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <button class="btn btn-warning d-block" type="submit">Create Blog</button>
            </form>
        </div>


    </div>
</div>